.todo
  .todo-head
    .title
      .glyphicon.glyphicon-list.head
      .proj-name{:id => "#{project.id}"}
        = project.name
    .todo-controls
      = link_to edit_project_path(project), {remote: true, class: "list-controls list-pencil"} do 
        .glyphicon.glyphicon-pencil
      = link_to project_path(project), {remote: true, method: :delete, class: "list-controls"} do
        .glyphicon.glyphicon-trash
  .todo-input
    .glyphicon.glyphicon-plus.add
    .input-group.input-group-md.task-input
      = form_for(:task, remote: true, url: create_task_path(project.id), html: {class: "task-form" }) do |f| 
        = f.text_field :name, placeholder: "Start typing here to create a task...", class: "form-control"
        .input-group-btn
          = f.submit "Add Task", class: "btn btn-task"
  .tasks
    .container-fluid{:id => "tasks#{project.id}"}
      = render project.tasks