.container.user-form
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-login
        .panel-heading
          .row
            .col-lg-12.text-center
              %h3 Log in
          %hr/
        .panel-body
          .row
            .col-lg-12
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  = f.email_field :email, class: "form-control", placeholder: "Email Address"
                .form-group
                  = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
                .form-group
                  - if devise_mapping.rememberable?
                    = f.check_box :remember_me
                    = f.label :remember_me
                .form-group
                  .row
                    .col-sm-6.col-sm-offset-3
                      = f.submit "Log in", class: "form-control btn btn-login"
              .form-group
                .row
                  .col-lg-12.text-center
                    = render "devise/shared/links"